_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_Store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
.idea

# Obsidian
.obsidian/

# Docker
.devcontainer/

# Lighthouse reports
lighthouse_results/

# Readme preview assets
readme_preview/

# Package lock
package-lock.json